html, body {
    margin: 0;
    padding: 0;
}

.calc {
    padding: 20% 15%;
}

.inp {
    width: 200px;
    background: #1E88E5;
    border: 2px #ea4335 solid;
    font-size: 50px;
    color: #fbbc05;
}

.select {
    border: 2px #ea4335 solid;
    width: 200px;
    margin-bottom: -8%;
}

.option-head {
    text-align: center;
    font-size: larger;
    color: red;
}

.option {
    text-align: center;
    font-size: 30px;
    color: #1E88E5;
}

.equal-sign {
    font-size: 60px;
    color: red;
    margin-left: 2%;
}

.res {
    margin-left: 1%;
    font-size: 50px;
    color: #fbbc05;
}

.err {
    text-align: center;
    font-size: 50px;
    color: red;
}