html, body {
    margin: 0;
    background: #eee;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    background: #1028ff;
    height: 50px;
    width: 100%;
}

.menu-opacity {
    position: fixed;
    top: 0;
    left: 0;
    background: #1028ff;
    height: 50px;
    width: 100%;
    opacity: 0.5;
}

.menu a {
    color: inherit;
    line-height: 50px;
    font-size: 20px;
    margin: 0 10px;
    transition: color 0.4s;
}

.content {
    margin-top: 70px;
}